body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.list-item:nth-child(2n) {
	background-color: #eee;
}

.list-item:hover {
	background-color: #ccc;
}

.list-item.completed {
	background-color: rgb(247, 159, 159);
	color: #fff;
}

.list-item.completed p {
	text-decoration: line-through;
}
